@using BlazorApp.Client.Components
@inherits LayoutComponentBase

@inject NavigationManager Navigation;

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex justify-content-center align-items-center @headerTransparentCss">
    <nav id="navbar" class="navbar @NavMenuCssClass">
        <ul @onclick="CloseNavMenu">
            <li>
                <!-- make home a standard a otherwise will match all page refreshes-->
                @* <a href="/" Match="NavLinkMatch.All" @onclick="@(() => CloseNavMenu("home"))" class="@homeLinkCSS">Home</a> *@
                <NavLink href="/" Match="NavLinkMatch.All" aria-label="Go back to the landing page">                   
                    Home
                </NavLink>
            </li>
            <li>
                @* <a href="#why-yoga" Match="NavLinkMatch.All" @onclick="@(() => CloseNavMenu("about"))" class="@aboutLinkCSS">About</a> *@
                <NavLink href="/#whatismindfulness" Match="NavLinkMatch.All" aria-label="Go to the section explaining mindfulness">What is mindfulness?</NavLink>
            </li>
            <li>
                @* <a href="/#classes" Match="NavLinkMatch.All" @onclick="@(() => CloseNavMenu("classes"))" class="@classesLinkCSS">Classes</a> *@
                <NavLink href="/#aboutjean" Match="NavLinkMatch.All">About Jean</NavLink>
            </li>
            <li class="dropdown">
                <NavLink href="/mbsr" Match="NavLinkMatch.All">The MBSR Overview</NavLink>              
                <ul>
                    <li><NavLink href="/mbsr" Match="NavLinkMatch.All">Overview</NavLink></li>
                    <li><NavLink href="/mbsr/orientation" Match="NavLinkMatch.All">Orientation</NavLink></li>
                    <li><NavLink href="/mbsr/weeks1and2" Match="NavLinkMatch.All">Weeks 1 and 2</NavLink></li>
                    <li><NavLink href="/mbsr/weeks3and4" Match="NavLinkMatch.All">Weeks 3 and 4</NavLink></li>
                    <li><NavLink href="/mbsr/weeks5and6" Match="NavLinkMatch.All">Weeks 5 and 6</NavLink></li>
                    <li><NavLink href="/mbsr/retreat" Match="NavLinkMatch.All">Retreat</NavLink></li>
                    <li><NavLink href="/mbsr/weeks7and8" Match="NavLinkMatch.All">Weeks 7 and 8</NavLink></li>
                </ul>
            </li>
            <li class="dropdown">
                <NavLink href="/mbsr" Match="NavLinkMatch.All">The MBSR Course</NavLink>
                <ul>
                    <li><NavLink href="/mbsr/week1" Match="NavLinkMatch.All">Week1</NavLink></li>
                    <li><NavLink href="/mbsr/week2" Match="NavLinkMatch.All">Week2</NavLink></li>
                </ul>
            </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle @mobileMenuTogglerCssClass" @onclick="ToggleNavMenu"></i>
    </nav><!-- .navbar -->
    
 
</header><!-- End Header -->

<AnchorNavigation />


 @Body

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container" b-61en3pqsqj="">
        <h4>mybreathingspace.net</h4>
        <div class="row" b-61en3pqsqj="">
            <!--!--><div class="col-2" b-61en3pqsqj=""><a href="/" aria-label="Go back to the landing page" b-61en3pqsqj=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16" b-61en3pqsqj=""><path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" b-61en3pqsqj=""></path></svg></a></div>
            <!--!--><div class="col-2" b-61en3pqsqj=""><a href="https://www.youtube.com/channel/UCrf3ituIgubPh6VjMYGSzUQ" target="_blank" aria-label="Visit the mybreathingspace.net youtube channel" b-61en3pqsqj=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16" b-61en3pqsqj=""><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" b-61en3pqsqj=""></path></svg></a></div>
            <div class="col" b-61en3pqsqj=""></div>
            <div class="col-2" aria-label="Go back to the landing page" b-61en3pqsqj=""><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16" id="back-to-top" b-61en3pqsqj=""><!--!--><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" b-61en3pqsqj=""></path></svg></a></div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>mybreathingspace.net</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
    </div>
</footer><!-- End Footer -->

@code {

    private bool landingPage = true;
    private string? headerTransparentCss => landingPage ? "header-transparent" : null;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? null : "navbar-mobile";

    private string? NavMenuDropdownCssClass => collapseNavMenu ? null : "dropdown-active";
    private string? mobileMenuTogglerCssClass => collapseNavMenu ? null : "bi-x";

    private string @CloseMenuCssClass => collapseNavMenu ? "d-none" : "d-flex";

    private int counter;

    protected override async Task OnInitializedAsync()
    {
        Navigation.LocationChanged -= OnLocationChanged;
        Navigation.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
      
        landingPage = e.Location.Contains("home") || (Navigation.Uri == Navigation.BaseUri);

    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CloseNavMenu()
    {
        if (collapseNavMenu == false)
            collapseNavMenu = true;
    }

   
    private void OnScroll()
    {
        counter++;
    }
  
}